**/.git
**/.svn
**/.hg
**/node_modules
**/package.json
**/package-lock.json
**/tsconfig.json
**/public
**/build
**/.vscode
# **/Makefile
**/README.md
**/.esbuild
**/.gitignore
**/.prettierignore
**/.prettierrc
**/docker-compose.yml
**/dockerfile.api
**/serverless.yml
**/.editorConfig